canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position: absolute;
    color: wheat;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20%;
    padding-right: 30%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

p {
    font-size: 30px;
}

h3,
h2,
h1,
blockquote {
    font-size: 60px;
    font-family: product-sans, sans-serif;
    background-color: deeppink;
    padding: 10px 10px 10px 10px;
}

header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
}

section {
    grid-column: 2 / 8;
}

h1 {
    grid-column: 4/ span 5;
}

blockquote {
    grid-column: 2/ span 9;
    background-color: #52b900;
    font-weight: bolder;
}